{% extends "proj/proj.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="content--center">
        <div class="content__presentation--all-center">
            <div class="content__text-box">
                <h1>About</h1>
                <p>
                    This is a page i made for playing five hand poker. It's a simple game where you can play against the computer.
                    It's still a work in progress and i haven't worked this hard since i started learning web development.
                    This game contains far more lines of code than one could imagine, and if i could go back i would not have made this choice.
                    Still, the game i is playable and i'm quite proud of how it turned out (behind the scenes).
                    <br><br>
                    To play, press "Start game" and you will be redirected to the game page. There you will be able to play against the computer.
                </p>
            </div>
            <div class="content__button-container">
                <a href="{{ path('proj/game') }}" class="btn">Start game</a>
                <a href="{{ path('proj') }}" class="btn">Go back</a>
            </div>
        </div>
    </section>
{% endblock %}
