.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    input {
      padding: 0.8rem;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1280px;
    margin: auto;
  th {
    background-color: $highlight;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    text-transform: uppercase;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    a {
       color: #0072c6;
       font-weight: bold;
       text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
  }
}