@import './variables.scss';
@import './reset.scss';
@import './typography.scss';
@import './global.scss';

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    margin-bottom: 100px;
}

.site-header {
    min-height: 100px;
    padding: 0 $desktop-p;
    border-bottom: 1px solid $highlight;

    .nav-menu {
        display: flex;
        gap: $desktop-p;
    }
}

.site-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100px;
    background-color: $dark;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 $desktop-p;

    .footer-section {
        color: $white;
    }
}

// Body
.main {
    padding: 0;
    margin: 0;
}

.presentation {
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    background-color: $primary;

    .presentation-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: $desktop-p;
        text-align: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 400px;
    }
}

.reports {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    padding: $desktop-p;

    .report-card {
        border: 1px solid $highlight;
        padding: $desktop-p;

        strong {
            display: block;
            font-weight: 700;
        }
    }
}

.report-navigation {
    padding-left: $desktop-p;
    padding-right: $desktop-p;
}

.content {
    padding: 0 $desktop-p;

    .link-container {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 600px;
        gap: $desktop-p;
    }
    
    a {
        color: $dark;
    }

    &-flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $desktop-p * 3;
    }
}

.text-content {
    max-width: 600px;

    &-centered {
        max-width: 600px;
        margin: auto;
    }
}

.card-container {
    display: flex;
    gap: $desktop-p;
    flex-wrap: wrap;
    justify-content: center;

    p {
        font-size: 130px;
    }
}