// Colors
$primary: #A7B3A1;
$secondary: #F7FFF2;
$highlight: #A1B3B0;
$cta: #5EBD59;
$light-background: #FFFFFF;
$delimiter: #E6FFFB;
$dark: #121212;
$black: #FFFFFF;
$white: #FFFFFF;
$warning: #FF4500;
$light-code: rgba(0, 0, 0, 0.05);

// Responsive
$tablet: 768px;
$mobile: 767px;
$desktop: 1280px;

// Padding
$desktop-p: 2.4rem;
$tablet-p: 2.0rem;
$mobile-p: 1.6rem