// Colors
$primary: #A7B3A1;
$secondary: #F7FFF2;
$highlight: #A1B3B0;
$light-background: #FFFFFF;
$delimiter: #E6FFFB;
$dark: #121212;
$black: #FFFFFF;
$white: #FFFFFF;

// Responsive
$tablet: 768px;
$mobile: 767px;
$desktop: 1280px;