{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <section class="presentation">
        <div class="presentation-text">
            <h3>Kursen MVC</h3>
            <p> 
                Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP.
                Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
            </p>
            <a href="https://github.com/linusfri/report">Mitt gitrepo</a>
            <a href="https://github.com/dbwebb-se/mvc">Kursrepo</a>
        </div>
        <div class="img-container">
            <img src="{{ asset('img/mvc.png') }}" alt="">
        </div>
    </section>
{% endblock %}
