{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
    <main class="main">
        <form action="/card/deck/reset" method="POST">
            <input type="submit" value="Cause card chaos">
            <input type="hidden" value="reset" name="reset">
        </form>
        <div class="cards-left">
            <h3 class="h3title">Cards left: {{ deck|length }}</h3>
        </div>
        <h3 class="h3title">Cards in hand:</h3>
        <div class="card-container">
            {% for card in cardHand %}
                <div class="card">
                    <p class="card">{{ card.getUtf8Rep()|raw }}</p>
                </div>
            {% endfor %}

        </div>
    </main>
{% endblock body %}