{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="presentation">
        <div class="presentation-text">
            <h3>Jag och en hund</h3>
            <p> 
                På bilden kan man se mig och en hund, en intressant kombination av varelser.
                Jag heter Linus och det här är mitt andra kurspaket hos er, och jag ser fram emot att få lära mig lite om databaser, styling och dylikt. Jag är från Lidköping men har bott på alla möjliga platser i landet. Mina intressen är främst datorer och musik vilket är det jag spenderar mestadelen av min lediga tid på.
                Jag är förväntansfull inför kursen och hoppas att det blir en bra period, vi hörs :)!
            </p>
        </div>
        <div class="img-container">
            <img src="{{ asset('img/dogandme.jpg') }}" alt="">
        </div>
    </section>
{% endblock %}
