{% extends 'base.html.twig' %}

{% block title %}Magic Number{% endblock %}

{% block body %} 
    <section class="main">
        <h1>Magic number</h1>
        <p>Current number {{ number }}</p>
    </section>
{% endblock %}
