{% extends 'base.html.twig' %}

{% block title %}Magic Number{% endblock %}

{% block body %} 
    <main class="main">
        <section class="content">
            <h1>Magic number</h1>
            <p>Current number {{ number }}</p>
        </section>
    </main>
{% endblock %}
