{% extends 'base.html.twig' %}

{% block title %}Card game intro{% endblock %}

{% block body %} 
    <main class="main">
        <section class="content">
            <h1>Documentation</h1>
            <p>Some documentation</p>
            <a href="{{ path('card_game') }}">Start game</a>
        </section>
    </main>
{% endblock %}