{% extends "base.html.twig" %}

{% block title %}report{% endblock %}

{% block body %}
    <ul class="report-navigation">
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">kmom02</a></li>
        <li><a href="#kmom03">kmom03</a></li>
    </ul>
    <section class="reports">
        <div id="kmom01" class="report-card">
            <h3>Kmom01</h3>
            <p> 
                Jag är sedan tidigare relativt van vid att arbeta objektorienterat och har gjort detta även i PHP.
                Mest har jag använt det i Pimcore och Wordpress men det har även förekommit att jag använt det utan ramverk.
                <br><br>
                När jag ser till den grundkunskap som en utvecklare måste ha för att börja arbeta objektorienterat så anser jag att
                distinktionen av klass och objekt är viktig. Om utvecklaren vet vad skillnaden på ett objekt och klass är så kan
                denna med relativ lätthet skapa en klass och instansiera ett objekt från den samma. Dessutom är det viktigt att
                utvecklaren förstår skillanden mellan attribut och metoder, främst för att kunna separera beteende och egenskap.
                <br><br>
                Gällande kodbasen i report och frågan angående den så finns det potentiellt många saker att analysera.
                Det är lite oklart exakt vad för information som efterfrågas så jag väljer att kommentera strukturen kort och översiktligt.
                Den liknar strukturen från andra MVC-ramverk och är förhållandevis förutsägbar utan några egenskaper som sticker ut.
                <br><br>
                Angående "PHP the right way" så är det kodstil och testning som intresserar mig mest. Jag tycker ofta att testning
                hamnar i skymundan och att detta medför stora problem ju större en applikation blir. Jag själv är inte så bra på testning
                men skulle gärna sätta mig in i olika metoder för att på bästa sätt testa applikationer. Kodstil har jag på det senaste
                börjat värdera högt. Det är inte sällan man stöter på kod på internet som ibland är, i det närmaste, oläslig för att
                rekommendationer inte följs. Mitt mål är att bli bättre på att skriva lättläslig kod som också fungerar på ett tillfredsställande sätt.
                <br><br>
                Mitt TIL för detta kursmoment är traits. Jag har sedan innan inte använt mig av dessa så det skall blir spännande att sätta sig in i det.

            </p>
        </div>
        <div id="kmom02" class="report-card">
            <h3>kmom02</h3>
            <p> 
                
            </p>
        </div>
        <div id="kmom03" class="report-card">
            <h3>Kmom03</h3>
            <p> 
               
            </p>
        </div>
    </section>
{% endblock %}